######################################################################
# User
######################################################################
#Makefile from CubeMX are not used anymore to compile, use Zig instead
Makefile
*.mk

# Folder that the user doesn't want to track content
**/tmp/
# Clangd cache
**/.cache/ 

# STM32 tools
.mxproject

# VS code
**/.vscode/settings.json
**/.vscode/.cortex-debug.*.json
*.code-workspace

# miscellaneous files
*.log
*.bak
*.old

######################################################################
# Cmake
######################################################################
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

######################################################################
# Zig
######################################################################
# This file is for zig-specific build artifacts.
# If you have OS-specific or editor-specific files to ignore,
# such as *.swp or .DS_Store, put those in your global
# ~/.gitignore and put this in your ~/.gitconfig:
#
# [core]
#     excludesfile = ~/.gitignore
#
# Cheers!
# -andrewrk


**/.zig-cache/ 
**/zig-out/
**/release/
**/debug/
**/build/
**/build-*/
**/docgen_tmp/


######################################################################
# C
######################################################################
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
